body {
  margin:0px;
  background-color:rgba(249, 249, 249, 1);
  background-image:none;
  position:relative;
  left:-10px;
  width:434px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u25187 {
  border-width:0px;
  position:absolute;
  left:38px;
  top:230px;
  width:395px;
  height:548px;
}
#u25187_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:395px;
  height:548px;
  overflow:auto;
  -webkit-overflow-scrolling:touch;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  background-color:rgba(249, 249, 249, 1);
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u25187_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
.u25189 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
.u25190_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:22px;
}
.u25190 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:60px;
  display:flex;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:22px;
}
.u25190 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 100px;
  box-sizing:border-box;
  width:100%;
}
.u25190_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:60px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:22px;
}
.u25190.mouseDown {
}
.u25190_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
.u25191_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:35px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Font Awesome 5 Pro Solid', 'Font Awesome 5 Pro Regular', 'Font Awesome 5 Pro';
  font-weight:900;
  font-style:normal;
  font-size:36px;
  color:#CCCCCC;
  line-height:20px;
}
.u25191 {
  border-width:0px;
  position:absolute;
  left:53px;
  top:0px;
  width:40px;
  height:60px;
  display:flex;
  font-family:'Font Awesome 5 Pro Solid', 'Font Awesome 5 Pro Regular', 'Font Awesome 5 Pro';
  font-weight:900;
  font-style:normal;
  font-size:36px;
  color:#CCCCCC;
  line-height:20px;
}
.u25191 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
.u25191_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
.u25192_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:60px;
}
.u25192 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:60px;
  display:flex;
  font-family:'Font Awesome 5 Pro Light', 'Font Awesome 5 Pro Regular', 'Font Awesome 5 Pro';
  font-weight:300;
  font-style:normal;
  font-size:16px;
  color:#CCCCCC;
  text-align:left;
  line-height:28px;
}
.u25192 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 20px;
  box-sizing:border-box;
  width:100%;
}
.u25192_img.selected {
}
.u25192.selected {
}
.u25192_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
.u25193_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:307px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Font Awesome 5 Pro Light', 'Font Awesome 5 Pro Regular', 'Font Awesome 5 Pro';
  font-weight:300;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
  text-align:right;
  line-height:24px;
}
.u25193 {
  border-width:0px;
  position:absolute;
  left:53px;
  top:0px;
  width:307px;
  height:60px;
  display:flex;
  font-family:'Font Awesome 5 Pro Light', 'Font Awesome 5 Pro Regular', 'Font Awesome 5 Pro';
  font-weight:300;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
  text-align:right;
  line-height:24px;
}
.u25193 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
.u25193_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u25188-1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:60px;
}
#u25188-2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:60px;
  width:375px;
  height:60px;
}
#u25188-3 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:120px;
  width:375px;
  height:60px;
}
#u25188-4 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:180px;
  width:375px;
  height:60px;
}
#u25188-5 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:240px;
  width:375px;
  height:60px;
}
#u25188-6 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:300px;
  width:375px;
  height:60px;
}
#u25188-7 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:360px;
  width:375px;
  height:60px;
}
#u25188-8 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:420px;
  width:375px;
  height:60px;
}
#u25188-9 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:480px;
  width:375px;
  height:60px;
}
#u25188-10 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:540px;
  width:375px;
  height:60px;
}
#u25188 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:600px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u25194 {
  border-width:0px;
  position:absolute;
  left:38px;
  top:113px;
  width:374px;
  height:118px;
}
#u25194_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:118px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(255, 255, 255, 1);
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u25194_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u25195_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#333333;
  line-height:28px;
}
#u25195 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:28px;
  width:375px;
  height:40px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#333333;
  line-height:28px;
}
#u25195 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u25195_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u25196_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#3478F7;
  line-height:20px;
}
#u25196 {
  border-width:0px;
  position:absolute;
  left:309px;
  top:28px;
  width:56px;
  height:40px;
  display:flex;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#3478F7;
  line-height:20px;
}
#u25196 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u25196_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#3478F7;
  line-height:20px;
}
#u25196.mouseDown {
  opacity:0.8;
}
#u25196_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u25197_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#3478F7;
  text-align:left;
  line-height:20px;
}
#u25197 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:29px;
  width:81px;
  height:40px;
  display:flex;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#3478F7;
  text-align:left;
  line-height:20px;
}
#u25197 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 15px;
  box-sizing:border-box;
  width:100%;
}
#u25197_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#3478F7;
  text-align:left;
  line-height:20px;
}
#u25197.mouseDown {
  opacity:0.5;
}
#u25197_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u25198_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:50px;
  background:inherit;
  background-color:rgba(249, 249, 249, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:right;
  line-height:20px;
}
#u25198 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:68px;
  width:375px;
  height:50px;
  display:flex;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:right;
  line-height:20px;
}
#u25198 .text {
  position:absolute;
  align-self:center;
  padding:0px 35px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u25198_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u25199 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u25200 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u25201_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:345px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:transparent;
  text-align:right;
}
#u25201 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:75px;
  width:345px;
  height:35px;
  display:flex;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:transparent;
  text-align:right;
}
#u25201 .text {
  position:absolute;
  align-self:center;
  padding:2px 10px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u25201_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u25202_input {
  position:absolute;
  left:0px;
  top:0px;
  width:282px;
  height:35px;
  padding:3px 2px 3px 2px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  letter-spacing:normal;
  color:#666666;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u25202_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:282px;
  height:35px;
  padding:3px 2px 3px 2px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  letter-spacing:normal;
  color:#666666;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u25202_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:282px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u25202 {
  border-width:0px;
  position:absolute;
  left:49px;
  top:75px;
  width:282px;
  height:35px;
  display:flex;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u25202 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u25202_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:282px;
  height:35px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u25202.disabled {
}
#u25203_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Font Awesome 5 Pro Solid', 'Font Awesome 5 Pro Regular', 'Font Awesome 5 Pro';
  font-weight:900;
  font-style:normal;
  color:#999999;
}
#u25203 {
  border-width:0px;
  position:absolute;
  left:331px;
  top:75px;
  width:20px;
  height:35px;
  display:flex;
  font-family:'Font Awesome 5 Pro Solid', 'Font Awesome 5 Pro Regular', 'Font Awesome 5 Pro';
  font-weight:900;
  font-style:normal;
  color:#999999;
}
#u25203 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u25203_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u25204_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Font Awesome 5 Pro Solid', 'Font Awesome 5 Pro Regular', 'Font Awesome 5 Pro';
  font-weight:900;
  font-style:normal;
  color:#CCCCCC;
}
#u25204 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:75px;
  width:20px;
  height:35px;
  display:flex;
  font-family:'Font Awesome 5 Pro Solid', 'Font Awesome 5 Pro Regular', 'Font Awesome 5 Pro';
  font-weight:900;
  font-style:normal;
  color:#CCCCCC;
}
#u25204 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u25204_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Font Awesome 5 Pro Solid', 'Font Awesome 5 Pro Regular', 'Font Awesome 5 Pro';
  font-weight:900;
  font-style:normal;
  color:#CCCCCC;
}
#u25204.mouseOver {
  opacity:0.8;
}
#u25204_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u25205 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u25206 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u25207 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u25208_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:10px;
}
#u25208 {
  border-width:0px;
  position:absolute;
  left:343px;
  top:7px;
  width:25px;
  height:10px;
  display:flex;
}
#u25208 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u25208_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u25209 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u25210_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:9px;
}
#u25210 {
  border-width:0px;
  position:absolute;
  left:44px;
  top:7px;
  width:13px;
  height:9px;
  display:flex;
}
#u25210 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u25210_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u25211_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:6px;
}
#u25211 {
  border-width:0px;
  position:absolute;
  left:4px;
  top:9px;
  width:34px;
  height:6px;
  display:flex;
}
#u25211 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u25211_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u25212_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:9px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#282828;
  line-height:9px;
}
#u25212 {
  border-width:0px;
  position:absolute;
  left:310px;
  top:8px;
  width:32px;
  height:9px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#282828;
  line-height:9px;
}
#u25212 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u25212_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u25213_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:9px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#282828;
  line-height:9px;
}
#u25213 {
  border-width:0px;
  position:absolute;
  left:164px;
  top:8px;
  width:46px;
  height:9px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#282828;
  line-height:9px;
}
#u25213 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u25213_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u25215 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u25216_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:434px;
  height:103px;
}
#u25216 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:434px;
  height:103px;
  display:flex;
}
#u25216 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u25216_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u25217_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:667px;
}
#u25217 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:113px;
  width:28px;
  height:667px;
  display:flex;
}
#u25217 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u25217_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u25218_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:667px;
}
#u25218 {
  border-width:0px;
  position:absolute;
  left:413px;
  top:113px;
  width:31px;
  height:667px;
  display:flex;
}
#u25218 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u25218_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u25219_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:434px;
  height:115px;
}
#u25219 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:780px;
  width:434px;
  height:115px;
  display:flex;
}
#u25219 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u25219_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u25220 {
  border-width:0px;
  position:absolute;
  left:38px;
  top:113px;
  width:375px;
  height:668px;
  visibility:hidden;
}
#u25220_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:668px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u25220_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u25221 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u25222_img {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-5px;
  width:160px;
  height:120px;
}
#u25222 {
  border-width:0px;
  position:absolute;
  left:114px;
  top:278px;
  width:150px;
  height:110px;
  display:flex;
  font-family:'Font Awesome 5 Pro';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#FFFFFF;
}
#u25222 .text {
  position:absolute;
  align-self:flex-start;
  padding:20px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u25222_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u25223_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  line-height:20px;
}
#u25223 {
  border-width:0px;
  position:absolute;
  left:114px;
  top:334px;
  width:150px;
  height:45px;
  display:flex;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  line-height:20px;
}
#u25223 .text {
  position:absolute;
  align-self:flex-start;
  padding:10px 15px 0px 15px;
  box-sizing:border-box;
  width:100%;
}
#u25223_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
