/*------------------------------------*\
  Components > Media Embed
\*------------------------------------*/

.twitter-tweet,
.fluid-width-video-wrapper {
  margin-bottom: $base-spacing-unit !important;
  width: 84% !important;
  margin-left: 40px;
}

iframe {
  width: 84% !important;
  margin-left: 40px !important;
}

.gist {
    width: 84% !important;
    margin-left: 40px !important;
}

