/*------------------------------------*\
  Components > Post
\*------------------------------------*/

.c-post {
  padding-top: double($base-spacing-unit);
  margin-bottom: double($base-spacing-unit);
  background: $bg-white;
  border-radius:4px;

  &.page {
    max-width: 700px;
    margin: 0 auto;
  }
}
