/*------------------------------------*\
  Components > Post Hero
\*------------------------------------*/

.c-post-hero {
  &__media {
    display:block;
    width:120%;
    transform: translate(-10%);

    @include mq($from: tablet) {
      display:none;
    }
  }

  &__image {
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: $bg-gray;
    transition: all $global-transition ease-in-out;

    &.js-fadein {
      opacity: 0;
    }

    &.is-inview {
      opacity: 1;
    }

    &:before {
      content: '';
      display: block;
      padding-bottom: 56.25%;
    }
  }

  &__content {
    display:block;
    width:120%;
    transform: translate(-10%);
    padding: 24px 20px 24px 30px;
    border-bottom: 1px solid #e7e7e7;

    @include mq($from: desktop) {
      margin-left:120px;
      padding: double($base-spacing-unit);
      display: flex;
      flex-direction: column;
      justify-content: end;
      height: 100%;
      border-width: 0;
      border-color: #f4f4f4;
      background: #f4f4f4;
    }

  @include mq($from: tablet) {
    margin-left:120px;
    border:none;
  }

  &__date {
    font-size: $font-size-tiny;
    color: $color-gray;
    text-transform: uppercase;
    letter-spacing: $global-letter-spacing;
  }

  &__title {
    margin-bottom: 0;
    font-family: $font-sans-serif;
    font-size: $font-size-h3;
    font-weight: $font-weight-medium;

    @include mq($from: tablet) {
      font-size: $font-size-h2;
    }

    @include mq($from: desktop) {
      font-size: $font-size-h1;
      margin-top: -16px;
      margin-bottom: 10px;
    }
  }
}
