/*------------------------------------*\
  Components > Sidebar
\*------------------------------------*/

.c-sidebar {
  margin-bottom: double($base-spacing-unit);
  background: $bg-white;
  border-radius:4px;
}
