/*------------------------------------*\
  Components > Widget
\*------------------------------------*/

.c-widget {
  padding: double($base-spacing-unit);
  counter-reset: widget;
  background: $bg-white;
  border-radius: 4px;
  margin-bottom: 20px;

  @include mq($until: tablet) {
    padding: double($base-spacing-unit);
  }

  &__title {
    padding-left: $base-spacing-unit;
    margin-bottom: $base-spacing-unit + double($base-spacing-unit) + quarter($base-spacing-unit);
    line-height: 1.2;
    letter-spacing: 2px;
    border-left: 2px solid $color-brand;
    font-size: $font-size-small;
    text-transform: uppercase;
    font-weight: $font-weight-medium;
  }
}
