body {
  margin:0px;
  background-color:rgba(249, 249, 249, 1);
  background-image:none;
  position:relative;
  left:-10px;
  width:434px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u28770 {
  border-width:0px;
  position:absolute;
  left:38px;
  top:181px;
  width:395px;
  height:600px;
}
#u28770_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:395px;
  height:600px;
  overflow:auto;
  -webkit-overflow-scrolling:touch;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  background-color:rgba(255, 255, 255, 1);
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u28770_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
.u28772_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#333333;
  text-align:left;
  line-height:20px;
}
.u28772 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:50px;
  display:flex;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#333333;
  text-align:left;
  line-height:20px;
}
.u28772 .text {
  position:absolute;
  align-self:center;
  padding:0px 20px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
.u28772_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
.u28773_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Font Awesome 5 Pro Solid', 'Font Awesome 5 Pro Regular', 'Font Awesome 5 Pro';
  font-weight:900;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:right;
  line-height:28px;
}
.u28773 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:50px;
  display:flex;
  font-family:'Font Awesome 5 Pro Solid', 'Font Awesome 5 Pro Regular', 'Font Awesome 5 Pro';
  font-weight:900;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:right;
  line-height:28px;
}
.u28773 .text {
  position:absolute;
  align-self:center;
  padding:0px 20px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
.u28773_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Font Awesome 5 Pro Solid', 'Font Awesome 5 Pro Regular', 'Font Awesome 5 Pro';
  font-weight:900;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:right;
  line-height:28px;
}
.u28773.selected {
}
.u28773_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u28771-1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:50px;
}
#u28771-2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:50px;
  width:360px;
  height:50px;
}
#u28771-3 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:100px;
  width:360px;
  height:50px;
}
#u28771-4 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:150px;
  width:360px;
  height:50px;
}
#u28771-5 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:200px;
  width:360px;
  height:50px;
}
#u28771-6 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:250px;
  width:360px;
  height:50px;
}
#u28771-7 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:300px;
  width:360px;
  height:50px;
}
#u28771-8 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:350px;
  width:360px;
  height:50px;
}
#u28771-9 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:400px;
  width:360px;
  height:50px;
}
#u28771 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:0px;
  width:360px;
  height:450px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u28775 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u28776_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:434px;
  height:103px;
}
#u28776 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:434px;
  height:103px;
  display:flex;
}
#u28776 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u28776_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u28777_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:667px;
}
#u28777 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:113px;
  width:28px;
  height:667px;
  display:flex;
}
#u28777 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u28777_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u28778_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:667px;
}
#u28778 {
  border-width:0px;
  position:absolute;
  left:413px;
  top:113px;
  width:31px;
  height:667px;
  display:flex;
}
#u28778 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u28778_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u28779_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:434px;
  height:115px;
}
#u28779 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:780px;
  width:434px;
  height:115px;
  display:flex;
}
#u28779 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u28779_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u28780 {
  border-width:0px;
  position:absolute;
  left:38px;
  top:113px;
  width:374px;
  height:68px;
}
#u28780_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:68px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(255, 255, 255, 1);
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u28780_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u28781_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#333333;
  line-height:28px;
}
#u28781 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:28px;
  width:375px;
  height:40px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#333333;
  line-height:28px;
}
#u28781 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u28781_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u28782_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#0079FE;
  text-align:left;
  line-height:20px;
}
#u28782 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:29px;
  width:81px;
  height:40px;
  display:flex;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#0079FE;
  text-align:left;
  line-height:20px;
}
#u28782 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 15px;
  box-sizing:border-box;
  width:100%;
}
#u28782_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#0079FE;
  text-align:left;
  line-height:20px;
}
#u28782.mouseDown {
  opacity:0.5;
}
#u28782_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u28783 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u28784 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u28785 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u28786_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:10px;
}
#u28786 {
  border-width:0px;
  position:absolute;
  left:343px;
  top:7px;
  width:25px;
  height:10px;
  display:flex;
}
#u28786 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u28786_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u28787 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u28788_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:9px;
}
#u28788 {
  border-width:0px;
  position:absolute;
  left:44px;
  top:7px;
  width:13px;
  height:9px;
  display:flex;
}
#u28788 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u28788_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u28789_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:6px;
}
#u28789 {
  border-width:0px;
  position:absolute;
  left:4px;
  top:9px;
  width:34px;
  height:6px;
  display:flex;
}
#u28789 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u28789_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u28790_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:9px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#282828;
  line-height:9px;
}
#u28790 {
  border-width:0px;
  position:absolute;
  left:310px;
  top:8px;
  width:32px;
  height:9px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#282828;
  line-height:9px;
}
#u28790 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u28790_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u28791_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:9px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#282828;
  line-height:9px;
}
#u28791 {
  border-width:0px;
  position:absolute;
  left:164px;
  top:8px;
  width:46px;
  height:9px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#282828;
  line-height:9px;
}
#u28791 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u28791_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
