body {
  margin:0px;
  background-color:rgba(249, 249, 249, 1);
  background-image:none;
  position:relative;
  left:-10px;
  width:434px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u21949 {
  border-width:0px;
  position:absolute;
  left:38px;
  top:181px;
  width:395px;
  height:600px;
}
#u21949_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:395px;
  height:600px;
  overflow:auto;
  -webkit-overflow-scrolling:touch;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  background-color:rgba(249, 249, 249, 1);
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21949_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u21951 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u21952_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u21952 {
  border-width:0px;
  position:absolute;
  left:141px;
  top:1906px;
  width:30px;
  height:30px;
  display:flex;
}
#u21952 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u21952_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u21953_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
  text-align:left;
  line-height:24px;
}
#u21953 {
  border-width:0px;
  position:absolute;
  left:171px;
  top:1906px;
  width:64px;
  height:30px;
  display:flex;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
  text-align:left;
  line-height:24px;
}
#u21953 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u21953_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u21955 {
  border-width:0px;
  position:absolute;
  left:163px;
  top:1936px;
  width:50px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
.u21957_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:355px;
  height:173px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px 0px 10px rgba(0, 0, 0, 0.0470588235294118);
  -webkit-box-shadow:0px 0px 10px rgba(0, 0, 0, 0.0470588235294118);
  box-shadow:0px 0px 10px rgba(0, 0, 0, 0.0470588235294118);
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  line-height:20px;
}
.u21957 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:355px;
  height:173px;
  display:flex;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  line-height:20px;
}
.u21957 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
.u21957_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
.u21958_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
  line-height:24px;
}
.u21958 {
  border-width:0px;
  position:absolute;
  left:201px;
  top:10px;
  width:134px;
  height:25px;
  display:flex;
  text-align:right;
  line-height:24px;
}
.u21958 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
.u21958_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
.u21959_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:5px;
  border-style:solid;
  border-color:rgba(0, 121, 254, 1);
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  text-align:left;
}
.u21959 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:12px;
  width:227px;
  height:20px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  text-align:left;
}
.u21959 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 10px;
  box-sizing:border-box;
  width:100%;
}
.u21959_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
.u21960_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:315px;
  height:76px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
  line-height:24px;
}
.u21960 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:47px;
  width:315px;
  height:76px;
  display:flex;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
  line-height:24px;
}
.u21960 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
.u21960_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
.u21961_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:355px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
  text-align:left;
  line-height:24px;
}
.u21961 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:133px;
  width:355px;
  height:40px;
  display:flex;
  font-size:12px;
  color:#999999;
  text-align:left;
  line-height:24px;
}
.u21961 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 20px;
  box-sizing:border-box;
  width:100%;
}
.u21961_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
.u21962_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:355px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-left:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  text-align:right;
  line-height:24px;
}
.u21962 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:133px;
  width:355px;
  height:40px;
  display:flex;
  font-size:12px;
  text-align:right;
  line-height:24px;
}
.u21962 .text {
  position:absolute;
  align-self:center;
  padding:0px 20px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
.u21962_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u21956-1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:355px;
  height:173px;
}
#u21956-2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:188px;
  width:355px;
  height:173px;
}
#u21956-3 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:376px;
  width:355px;
  height:173px;
}
#u21956-4 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:564px;
  width:355px;
  height:173px;
}
#u21956-5 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:752px;
  width:355px;
  height:173px;
}
#u21956-6 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:940px;
  width:355px;
  height:173px;
}
#u21956-7 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1128px;
  width:355px;
  height:173px;
}
#u21956-8 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1316px;
  width:355px;
  height:173px;
}
#u21956-9 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1504px;
  width:355px;
  height:173px;
}
#u21956-10 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1692px;
  width:355px;
  height:173px;
}
#u21956 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:20px;
  width:355px;
  height:1865px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u21964 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u21965_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:434px;
  height:103px;
}
#u21965 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:434px;
  height:103px;
  display:flex;
}
#u21965 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u21965_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u21966_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:667px;
}
#u21966 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:113px;
  width:28px;
  height:667px;
  display:flex;
}
#u21966 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u21966_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u21967_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:667px;
}
#u21967 {
  border-width:0px;
  position:absolute;
  left:413px;
  top:113px;
  width:31px;
  height:667px;
  display:flex;
}
#u21967 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u21967_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u21968_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:434px;
  height:115px;
}
#u21968 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:780px;
  width:434px;
  height:115px;
  display:flex;
}
#u21968 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u21968_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u21969 {
  border-width:0px;
  position:absolute;
  left:38px;
  top:113px;
  width:374px;
  height:68px;
}
#u21969_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:68px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(255, 255, 255, 1);
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21969_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u21970_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#333333;
  line-height:28px;
}
#u21970 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:28px;
  width:375px;
  height:40px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#333333;
  line-height:28px;
}
#u21970 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u21970_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u21971_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Font Awesome 5 Pro';
  font-weight:400;
  font-style:normal;
  color:#0079FE;
  text-align:left;
  line-height:20px;
}
#u21971 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:29px;
  width:81px;
  height:40px;
  display:flex;
  font-family:'Font Awesome 5 Pro';
  font-weight:400;
  font-style:normal;
  color:#0079FE;
  text-align:left;
  line-height:20px;
}
#u21971 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 15px;
  box-sizing:border-box;
  width:100%;
}
#u21971_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Font Awesome 5 Pro';
  font-weight:400;
  font-style:normal;
  color:#0079FE;
  text-align:left;
  line-height:20px;
}
#u21971.mouseDown {
  opacity:0.5;
}
#u21971_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u21972_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Font Awesome 5 Pro';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#3478F7;
  line-height:20px;
}
#u21972 {
  border-width:0px;
  position:absolute;
  left:325px;
  top:28px;
  width:40px;
  height:40px;
  display:flex;
  font-family:'Font Awesome 5 Pro';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#3478F7;
  line-height:20px;
}
#u21972 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u21972_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Font Awesome 5 Pro';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#3478F7;
  line-height:20px;
}
#u21972.mouseDown {
  opacity:0.8;
}
#u21972_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u21973 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u21974 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u21975 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u21976_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:10px;
}
#u21976 {
  border-width:0px;
  position:absolute;
  left:343px;
  top:7px;
  width:25px;
  height:10px;
  display:flex;
}
#u21976 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u21976_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u21977 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u21978_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:9px;
}
#u21978 {
  border-width:0px;
  position:absolute;
  left:44px;
  top:7px;
  width:13px;
  height:9px;
  display:flex;
}
#u21978 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u21978_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u21979_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:6px;
}
#u21979 {
  border-width:0px;
  position:absolute;
  left:4px;
  top:9px;
  width:34px;
  height:6px;
  display:flex;
}
#u21979 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u21979_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u21980_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:9px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#282828;
  line-height:9px;
}
#u21980 {
  border-width:0px;
  position:absolute;
  left:310px;
  top:8px;
  width:32px;
  height:9px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#282828;
  line-height:9px;
}
#u21980 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u21980_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u21981_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:9px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#282828;
  line-height:9px;
}
#u21981 {
  border-width:0px;
  position:absolute;
  left:164px;
  top:8px;
  width:46px;
  height:9px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#282828;
  line-height:9px;
}
#u21981 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u21981_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
